:root {
    /* Colors */
    --primary-color:#e4074e;
}
button.back-to-home {
    width: 10rem;
    border: none;
    padding: 1rem;
    color: white;
    background-color: #e4074e;
    border-radius: 5px;
}
button.back-to-home a
{
    text-decoration: none;
    color: white;
}
.error
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
img#error-img
{
    margin-top: 10rem;
    max-width: 70%;
    height: auto;
}
p.error-message
{
    max-width:700px ;
}